@using PU_CampusTour.Models;
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add";
    dbf522ec9140464818abf6a1c4013479aeEntities1 db = new dbf522ec9140464818abf6a1c4013479aeEntities1();

    var data2 = from s in db.Categories select s;

    int id = Convert.ToInt32(ViewBag.id);
    var category = from s in db.Categories where s.Category_Id == id select s;

    int cat = 0;
    string catname = "";
    
    if(ViewBag.a5!= "Empty")
    {
    cat = Convert.ToInt32(ViewBag.a5);

    var d = from n in db.Categories where n.Category_Id == cat select n;

    
        
        foreach(var t in d)
        {
            catname=t.Name;
        }
    }
    
}




@section Add_Location{

<div style="margin-left:100px">
        
    <h2>Places Addition</h2> 
                    
            <h4>   @ViewBag.MSG  </h4>   
            
            

    <form method=post action="/Location/Add">
    
      <br /> <br />
    	
                    <label><strong>Place Name:</strong></label>
                    <br />
                    <input type="text" name="Name" value="@ViewBag.a1" />
                      
                     <br /> <br />
                    
                    <label ><strong>Detail:       </strong></label>
                    <br />
                    <input type="text" name="Detail" value="@ViewBag.a2"  />
                    
                    <br /> <br />

                    
                    <label ><strong>Longitude:</strong></label>
                    <br />
                    <input type="text" name="Longitude" value="@ViewBag.a3"  />
                    <br/>
                    <!----<input type="submit" class="register" value="Upload" />-->
                    <br />
                    
                    <label ><strong>Latitude:</strong></label>
                    <br />
                    <input type="text" name="Latitude" value="@ViewBag.a4"  />            
                    <br /> <br />

                    <label ><strong>Category:</strong></label>
                    <br />
                    <select   name="Category" style="margin-left:5px;margin-top:5px;font-size:15px;color:Black;font-family:Calibri;font-weight:bold">
                    <option value="Empty"></option> 
                    
                    @if (id == 0)
                    {          
                        foreach (var k in data2)
                        {
                            if(cat==0)
                            {
                                <option value="@k.Category_Id">@k.Name</option>
                            }
                            else
                            {
                                
                                <option value="@cat" selected="selected">@catname</option>
                            }

                        }
                    }
                    else
                    {
                        foreach (var k in category)
                        {
                            <option value="@k.Category_Id" selected="selected">@k.Name</option>
                        }
                    }
                    </select>  

                      <br /> <br />
                    
                    <div class="form_row">
                <input type="submit" class="register" value="Add" />
                    </div>   
      
    </form>
    	
    
    

<br /><br />
</div>
	 
    }  
     
 