@using PU_CampusTour.Models;
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";
    int id = Convert.ToInt32(ViewBag.id);

    int cat = 0;
    
    
    dbf522ec9140464818abf6a1c4013479aeEntities1 db = new dbf522ec9140464818abf6a1c4013479aeEntities1();

    var data = from s in db.Places where s.Id == id select s;
    
    foreach  (var r in data)
    {
        cat = r.Category_Id;
    }
    
    var categ = from c in db.Categories where c.Category_Id == cat select c;

    string cate = "";
    int cateid = 0;

    foreach (var r in categ)
    {
        cate = r.Name;
        cateid = r.Category_Id;
    }

    //int count = 0;
    var data2 = from s in db.Categories select s;
    
    
}

           
              
    
  @section Edit_Location{            
         <div style="margin-left:100px">
    <h2>Places Updation</h2> 
                    
                   <h4> @ViewBag.MSG</h4>

    <form method=post action="/Location/Edit">
    
    <br /> <br /> 
    	 <input type="hidden" name="id" value=@id />

        @foreach(var row in data){
                    <label><strong>Place Name:</strong></label>
                    <br />
                    <input type="text" name="Name" value = "@row.Name"  />
                      
                     <br /> <br />
                    
                    <label ><strong>Detail:       </strong></label>
                    <br />
                    <input type="text" name="Detail" value ="@row.Description" />
                    
                    <br /> <br />

                    
                    <label ><strong>Longitude:</strong></label>
                    <br />
                    <input type="text" name="Longitude" value ="@row.Longitude" />
                    <br/>
                    <!----<input type="submit" class="register" value="Upload" />-->
                    <br />
                    
                    <label ><strong>Latitude:</strong></label>
                    <br />
                    <input type="text" name="Latitude" value="@row.Latitude" />           
                    <br /> <br />
            
        }
                     <label ><strong>Category:</strong></label>
                    <br />
                    
                    
                    <select name="Category" style="margin-left:5px;margin-top:5px;font-size:15px;color:Black;font-family:Calibri;font-weight:bold">
                    <option selected="selected" value=@cateid>@cate</option>
                            @foreach (var ans in data2)
                            {
                            <option value="@ans.Category_Id">@ans.Name</option>
                            }
                    </select>  

                    <br /> <br />
                    <div class="form_row">
                        
                <input type="submit" class="register" value="Update" />
                    </div>   
      
    </form>
    	
    
    

<br /><br />
	 
    </div>  
     
  }
