@using PU_CampusTour.Models;
@{
    
    ViewBag.Title = "Request";
    var id = Convert.ToInt32(ViewBag.id);

    dbf522ec9140464818abf6a1c4013479aeEntities1 db = new dbf522ec9140464818abf6a1c4013479aeEntities1();
    
    var q = from s in db.Places where s.isApproved == "False" select s ;

    var data2 = from s in db.Categories select s;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>IN ADMIN PANEL</title>
<link rel="stylesheet" type="text/css" href="~/style.css" />
<script type="text/javascript" src="~/clockp.js"></script>
<script type="text/javascript" src="~/clockh.js"></script> 
<script type="text/javascript" src="~/jquery.min.js"></script>
<script type="text/javascript" src="~/ddaccordion.js"></script>
<script type="text/javascript">
    ddaccordion.init({
        headerclass: "submenuheader", //Shared CSS class name of headers group
        contentclass: "submenu", //Shared CSS class name of contents group
        revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
        mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
        collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
        defaultexpanded: [], //index of content(s) open by default [index1, index2, etc] [] denotes no content
        onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
        animatedefault: false, //Should contents open by default be animated into view?
        persiststate: true, //persist state of opened contents within browser session?
        toggleclass: ["", ""], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
        togglehtml: ["suffix", "<img src='images/plus.gif' class='statusicon' />", "<img src='images/minus.gif' class='statusicon' />"], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
        animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
        oninit: function (headers, expandedindices) { //custom code to run when headers have initalized
            //do nothing
        },
        onopenclose: function (header, index, state, isuseractivated) { //custom code to run whenever a header is opened or closed
            //do nothing
        }
    })
</script>

<script type="text/javascript" src="~/jconfirmaction.jquery.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.ask').jConfirmAction();
    });
	
</script>

<script language="javascript" type="text/javascript" src="~/niceforms.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="~/niceforms-default.css" />

</head>
<body>
<div id="main_container">

	<div class="header">
    <div class="logo"><a href="#"><img src="~/images/logo.jpg" alt="" title="" border="0" /><img src="~/images/logo2.jpg" alt="" title="" border="0" /></a></div>
    
    <div class="right_header">Welcome Admin,<!-- <a href="#">Visit site</a> | <a href="#" class="messages">(3) Messages</a>--> | <a href="#" class="logout">Logout</a></div>
    <div id="clock_a"></div>
    </div>
    
    <div class="main_content">
    
                    <div class="menu">
                    <ul>
                    <li><a href="@Url.Action("location","Login")">Admin Home</a></li>
                    <li><a class="current" href="@Url.Action("Request","Location")">Requests<!--[if IE 7]><!--></a><!--<![endif]-->
                    </li>
                    </ul>
                    </div> 
                    
                    
                    
                    
    <div class="center_content">  
    
    
    
    <div class="left_content">
    
    		<div class="sidebar_search">
            <form>
            <input type="text" name="" class="search_input" value="search keyword" onclick="this.value=''" />
            <input type="image" class="search_submit" src="~/images/search.png" />
            </form>            
            </div>
    
            <div class="sidebarmenu">
            
                <a class="menuitem submenuheader" href="">Subcategories</a>
                <div class="submenu">
                     <ul>
                    @foreach(var k in data2)
                    {
                    <li><a href="">@k.Name</li>
                    }
                    </ul>
                </div>
                
                <a class="menuitem submenuheader" href="@Url.Action("Add","Location")">Add new Place</a>
               
                
                    
            </div>
            
           
              
    
    </div>  
    
    <div class="right_content">            
        
    <h2>Requests</h2> 
                    
                    

    @using (Html.BeginForm()){            
<table id="rounded-corner" summary="2007 Major IT Companies' Profit">
    <thead>
    	<tr>
        	<th scope="col" class="rounded-company"></th>
            <th scope="col" class="rounded">Place Name</th>
            <th scope="col" class="rounded">Details</th>
            <th scope="col" class="rounded">Longitude</th>
            <th scope="col" class="rounded">Latitude</th>
            <th scope="col" class="rounded">Accept</th>
            <th scope="col" class="rounded-q4">Delete</th>
        </tr>
    </thead>
    
       
            <tbody>
     @foreach (var row in q) {
          <tr>
           
            <td><input type="checkbox" name="MyCheckboxes" value="@row.Id" /></td>
            <td> @row.Name</td>
            <td> @row.Description</td>
            <td>@row.Longitude</td>
            <td> @row.Latitude</td>
           
            <!--<td><a href="~/Admin/Admin_Update/row.Id">Edit</a></td>-->
            <td> <a href="@Url.Action("Edit","Location", new { id = @row.Id })">Accept</a> </td>            
          <td><a href="@Url.Action("Delete", "Location", new { id = @row.Id })">Delete</a></td>
          </tr>
        }
    </tbody>
    
</table>
    	
    }
    

<br /><br />
	 
      
     
     </div><!-- end of right content-->
            
                    
  </div>   <!--end of center content -->               
                    
                    
    
    
    <div class="clear"></div>
    </div> <!--end of main content-->
	
    
    <div class="footer">
    
    	<div class="left_footer"></div>
    	<div class="right_footer"><a href="#"></a></div>
    
    </div>

</div>		
</body>
</html>
