@using PU_CampusTour.Models;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    dbf522ec9140464818abf6a1c4013479aeEntities1 db = new dbf522ec9140464818abf6a1c4013479aeEntities1();

    var q = from s in db.Places where s.isApproved == "True" select s ;

    var data2 = from s in db.Categories select s;

    int id = (from e in db.Places select e.Id).Max();

    var r = from e in db.Places where e.Id == id select e.Name;

    string lastname = "";
    foreach(var t in r)
    {
        lastname = t;
    }
     
    
  
}


    @section location{ 
     <h2>All Places <h4> <a href="@Url.Action("Add", "Location", new { id = 0 })" class="bt_red"><span class="bt_green_lft" style="margin-left:20px"></span><strong>Add New Place</strong><span class="bt_green_r"></span></a></h4>
     <h4>Filter By:
     <form method=post action="/Login/Category_Display">
    
     <select   name="Category" style="margin-left:5px;margin-top:5px;font-size:15px;color:Black;font-family:Calibri;font-weight:bold">
     
     <option value="All" selected="selected">All</option>
      @foreach (var k in data2)
      {
                <option value="@k.Category_Id"><!--<a href="@Url.Action("Category_Display", "Login", new { id = @k.Category_Id })">-->@k.Name</option>
      
      }
     </select>
     
     
     <div class="form_row">
                <input type="submit" class="register" value="Go" />
                    </div>   
      
    </form>
    </h4>
     </h2>                   
         @using (Html.BeginForm())
         {            
<table id="rounded-corner" summary="2007 Major IT Companies' Profit">
    <thead>
    	<tr>
        	<th scope="col" class="rounded-company"></th>
            <th scope="col" class="rounded">Place Name</th>
            <th scope="col" class="rounded">Details</th>
            <th scope="col" class="rounded">Longitude</th>
            <th scope="col" class="rounded">Latitude</th>
            <th scope="col" class="rounded">Edit</th>
            <th scope="col" class="rounded-q4">Delete</th>
        </tr>
    </thead>
    
       
            <tbody>
     @foreach (var row in q)
     {
          <tr>
           
            <td><input type="hidden" name="MyCheckboxes" value="@row.Id" /></td>
            <td> @row.Name</td>
            <td> @row.Description</td>
            <td>@row.Longitude</td>
            <td> @row.Latitude</td>
           
            <!--<td><a href="~/Admin/Admin_Update/row.Id">Edit</a></td>-->
            <td> <a href="@Url.Action("Edit", "Location", new { id = @row.Id })"><img src="~/images/user_edit.png" alt="" title="" border="0" /></a> </td>            
          <td><a href="@Url.Action("Delete", "Location", new { id = @row.Id })"><img src="~/images/trash.png" alt="" title="" border="0" /></a></td>
          </tr>
     }
    </tbody>
    
</table>    
   
        
    
<br /><br />

	
     <br /><br />
     
           <br /><br />
             }
      
     
     }
	
    
    

